# Credenciais do SQL Server
# Preencha as variáveis abaixo com os dados de acesso ao seu banco de dados Moodle.
# Depois, renomeie este arquivo para .env para que a aplicação possa lê-lo.

DB_USER=seu_usuario_do_banco
DB_PASSWORD=sua_senha_do_banco
DB_HOST=endereço_do_servidor_sql # Ex: 192.168.1.100 ou nome.do.servidor.com
DB_DATABASE=moodle_db

# Configurações de Criptografia (ajuste conforme a configuração do seu servidor)
# Se o seu SQL Server exige conexões criptografadas (SSL), coloque 'true'. Se não, 'false'.
DB_ENCRYPT=true
# Se o certificado do seu servidor for autoassinado ou você estiver em um ambiente de desenvolvimento,
# pode ser necessário usar 'true' para que a conexão seja aceita.
DB_TRUST_SERVER_CERTIFICATE=true
